[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter
[submodule "themes/themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
